.form-control-close-button {
    float: right;
    margin-top: -27px;
    margin-right: 5px;
}

.basket-panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
    border-color: #ddd;
}

.panel-body {
    padding: 15px;
}

.basket-form {
    margin-top: 20px;
}

.basket-form h4 {
    margin-bottom: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.checkbox-btn__label {
    margin-top: -5px;
}

.panel-body Label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label-default-num{
    background-color: rgb(119, 119, 119);
}

.label-basket {
    display: inline;
    font-size: 75%;
    font-weight: 700px;
    line-height: 1;
    color:rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.2em 0.6em 0.3em;
    border-radius: 0.25em;
}

.basket-panel-row {
    height: auto;
}

.mr-auto {
    padding-top: 20px;
    padding-left: 50px;
    @media only screen and (max-width: 600px) {
        padding-left: 0px;
    }
}

.nav-basket-btn {
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
}

.justify-content-end {
    padding-top: 20px;
    @media only screen and (max-width: 600px) {
        padding-left: 0px;
    }
}

.nav-item-basket {
    margin-left: 10px;
    @media only screen and (max-width: 600px) {
        margin-left: 0px;
        margin-right: 20px;
    }
}

.content-delete {
    padding-top: 20px;
    margin-left: 50px;
    @media only screen and (max-width: 600px) {
        padding-left: 0px;
        margin-left: 10px;
        margin-right: -10px;
    }
}

.basket-btn-delete {
    padding-right: 1px;
    background-color: rgb(255, 255, 255);
}

.basket--modal {
    width: 700px;
    height: 500px;
    padding: 0px;
}

.basket--label-trash {
    cursor: pointer;
}

.baskets--modal-table tr {
    line-height: 14px;
}

.baskets--modal-table tbody td {
    height: 14px;
    padding: 0px;
    vertical-align: middle;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}