.profile__card {
  height: 100%;
  padding: 0;

  @include themify($themes) {
    background-color: themed('colorBackground');
  }

  .nav-item {
    text-transform: uppercase;
    font-weight: 500;
  }

  .tab-content {
    padding: 0 30px 40px;
  }

  .timeline__content {

    @include themify($themes) {
      background: themed('colorBackgroundBody');
    }

    &:after {

      @include themify($themes) {
        border-left-color: themed('colorBackgroundBody');
      }
    }
  }

  .timeline .timeline__item:nth-child(even) {

    .timeline__content {

      &:after {

        @include themify($themes) {
          border-right-color: themed('colorBackgroundBody');
        }
      }
    }
  }

  &--calendar {
    .rbc-toolbar {
      -webkit-flex-wrap: nowrap!important;
      flex-wrap: nowrap!important;
    }
  }
}

.profile__information {
  padding: 56px 98px;
  display: flex;

  @include directify($directions) {
    text-align: directed('left');
  }
  @include themify($themes) {
    border-bottom: 1px solid themed('colorBorder');
  }

  @media (max-width: 1345px) and (min-width: 1200px) {
    padding: 30px 15px;
  }

  @media screen and (max-width: 360px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .profile__data {
    @media screen and (max-width: 360px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0;
    }
  }
}

.profile__avatar {
  height: 190px;
  width: 170px;
  overflow: hidden;
  // border-radius: 10%;

  img {
    height: 100%;
  }

  @media (max-width: 1345px) and (min-width: 1200px) {
    height: 130px;
    width: 130px;
  }
}

.profile__stats {
  display: flex;
  justify-content: space-around;
}

.profile__stat {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

.profile__stat-number {
  color: $color-blue;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.profile__stat-title {
  margin: 0;
  color: $color-additional;
  font-size: 12px;
  line-height: 14px;
}

.profile__data {
  padding-left: 25px;
  @include directify($directions) {
    #{directed('padding-left')}: 25px;
  }
  width: calc(100% - 140px);
}

.profile__name {
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  line-height: 18px;
  margin-left: -10px;
}

.profile__work {
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0;
  opacity: 0.6;
  line-height: 18px;
}

.profile__contact {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 18px;
}

.profile__btn {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 8px 15px;
}

.profile__activity {
  display: flex;
  border-bottom: solid 1px #e7e7e7;
  padding: 20px 0;

  &:last-child {
    border: none;
  }

  img {
    display: inline-block;
    @include directify($directions) {
      #{directed('margin-right')}: 20px;
    }
    vertical-align: top;
    margin-top: 10px;
    width: auto;

    &:last-child {
      @include directify($directions) {
        #{directed('margin-right')}: 0;
      }
    }

    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
}

.profile__activity-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  min-width: 64px;
  @include directify($directions) {
    #{directed('margin-right')}: 20px;
  }

  img {
    height: 64px;
    width: 64px;
    margin: 0;
  }
}

.profile__activity-name {
  font-weight: 700;
  color: $color-blue;
}

.profile__activity-date {
  font-weight: 400;
  color: $color-additional;
  font-size: 10px;
}

.profile__current-tasks-title {
  padding: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  margin: 0;

  @include themify($themes) {
    border-bottom: 1px solid themed('colorBorder');
    color: themed('colorText');
  }

  span {
    color: $color-additional;
    font-size: 13px;
  }
}

.profile__current-tasks {
  position: relative;
  padding-bottom: 40px;
}

.profile__current-task {
  display: flex;
  margin: 0 20px;
  @include directify($directions) {
    #{directed('padding-right')}: 0;
    #{directed('padding-left')}: 28px;
    text-align: #{directed('left')};
  }
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;

  @include themify($themes) {
    border-bottom: 1px solid themed('colorBorder');
    color: themed('colorText');
  }

  &:last-of-type {
    border-bottom: none;
  }

  .badge {
    text-transform: uppercase;
    font-size: 9px;
    padding: 6px 10px;
    display: inline-table;
    height: 20px;
    color: #ffffff;
    @include directify($directions) {
      #{directed('margin-left')}: auto;
      #{directed('margin-right')}: 5px;
    }

    &.badge-info {
      background-color: $color-accent;
    }

    &.badge-error {
      background-color: $color-red;
    }
  }
}

.profile__current-task-checkbox {
  position: absolute;
  @include directify($directions) {
    #{directed('left')}: 0;
  }
}

.profile__see-all-tasks {
  position: absolute;
  @include directify($directions) {
    #{directed('right')}: 20px;
  }
  bottom: 20px;
}

.profile_text {
  padding: 1px 116px;
  display: flex;
}

.profile_ava {
  padding: 30px 0 0 98px;
  // display: flex;
  width: 320px;
}

.profile__icon {
  background-color: solid green;
}

.profile__card_body {
  background: #13EFB4;
  padding: 5px 15px 15px;
  margin-top: -20px;
}

.profile__card_body_below {
  background: #13EFB4;
  padding: 5px 15px 15px;
  margin-top: 30px;
}


.profile__card_table {
  padding: 24px 0 0;
}

.profile__card_table_below {
  padding: 40px 0 0;
}

.profile__card_table_below1 {
  padding: 40px 0 0;
}

.profile__card_table_below2 {
  padding: 20px 0 0;
}

.profile__social {
  padding: 0 3px 5px 9px;
}

.profile__experience {
  text-align: center;
}

.social__profiles {
  text-align: center;
}

.social__profiles_text {
  margin: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.profile__sincerely {
  padding: 40px 0 0 100px;
}

.profile__icon_col {
  padding-right: 5px;
}

.profile__market_title {
  padding: 10px;
  text-transform: uppercase;
}

.profile__progress_name {
  text-align: left;
}

.profile__progress_value {
  text-align: right;
}

.profile__progress {
  font-family: 'bold';
  font-size: 14px;
}

.profile__size {
  padding: 80px 0;
  text-align: center;
}

.profile__button_remove {
  padding: 6px 10px;
}

.profile__button_save {
  padding: 6px 20px;
  margin-left: -10px;
}

.profile__row_center {
  display: table;
  margin: 0 auto;
  padding:  85px 0;
}

.profile__title {
  margin-top: 10px;
}

.profile__title_sub {
  margin: 0 auto;
  display: table;
}

.profile__center_content {
  margin: 0 auto;
  display: table;
}

.upload_text {
  padding: 80px 0;
}

.profile__img_size {
  width: 80%;
  height: 50%;
  margin: 20px;
}

.profile__basic-single {
  width: 200px;
}

.is-danger {
  color: red;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 1.5;
  margin-bottom: 25px;
  font-weight: bold;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px;
    margin-top: 0;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    // display: inline-block;
    color: black;

    padding: 1em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
    background-clip: padding-box;
    border-color: green;
  }
}

.profile_section {
  text-align: center;
  position: relative;

  &::before {
    border-top: 1px solid #b7b7b7;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 50%;
  }
}

.profile_section h4 {
  border: 2px solid #07cb79;
  background-color: #fff;
  display: inline-block;
  font-weight: 600px;
  line-height:  40px;
  margin: 0;
  padding: 0 30px;
  position: relative;
  text-transform: uppercase;
}

.profile__job_title {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}

.profile__social {
  margin-bottom:  30px;
}

.profile__social span {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  opacity: 5px;
}

.profile__social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #999;
  text-align: center;
  line-height: 30px;
  color: #999;
  margin-right: 8px;
}

.profile__image {
  display: block;
  border: 1px solid;
  padding: 3px;
  color: #07cb79;
}

.profile_skills h2 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 38px;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}
